
body {
    background-color: white;
    margin: 0px;
    font-family: 'Bebas Neue', sans-serif;
}
.top{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex start;
    background-color: #B9CEAD;
    height: 20vh;
}
.navegation{
    list-style:none;
    display: flex;
    justify-content: space-between;
   
}

.Nav {
    width: 80%;
    color:#3E3E36;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 20%;
    align-items: center;
    font-size: 28px;
}

.Nav a {
    text-decoration: none;
    color: #3E3E36 
}
.form{

    display: flex;
    align-items: center;
    margin-left: 15%;
    
}
.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 3%;
    
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25%;
    margin-left: 5%
}

.logo img {

    width: 80px;
    height: 80px;
}

.navbar {

    display: flex;
    justify-content: center;
    align-items: center;  
}

.bottom {
    background-color: #B9CEAD;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;

}
.TMDB {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    margin-right: 3%
}

h1{
    color: #3E3E36;
    display: flex;
    align-items: center;
    justify-self: center;
}

.middle {
    display: flex;
    flex-direction: column;
    padding: 5%;

}

.familiares {
    display: flex;
}

.familiares div {

    display: flex;
    flex-direction: column;
    margin-right: 3%;
}

.series div {
    margin-right: 3%
}
.series {
    display: flex;
}
.pelicula-main{
    display: flex;
    margin: 5%;
}

.info div {
    margin-right: 3%;
    
}

.titulo{
    display: flex;
    margin: 5%;
}
.titulo div {
    margin-top: 2%;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    margin: 3%;
}

.poster{
    margin-right: 3%;
}
.serie-main {
    display: flex;
}

.serie{

    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.genero {

    background-color: #3e3e3663;
    max-width: 55px;
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: #3E3E36;
}
.favorito-main{
    display: flex;
    flex-direction: row;
    padding: 5%;
    justify-content: space-around;
}

.favorito-main img {
    height: 300px;
}

.favoritos h1 {

    margin-left: 5%;
}

.favoritos h3 {

    margin-left: 5%;
}

.generosmain {

    margin: 2%
}

.generosmain h3 {

    margin: 3%
}

.generos { 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.generos div {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.generos h4 {
    background-color: #3e3e3650;
    color:#3E3E36;
}

.peli-genero {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    justify-content: space-around;
}

.series-genero {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    justify-content: space-around;
}

.listaresultados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.listaresultados div {
    margin: 1%;
}


.busqueda-main{
    margin: 3%;
    display: flex;
}
.busquedalista {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
#peliculasBusqueda {
    display: flex;
    flex-wrap: wrap;
    
}

.resultadoh2 {
    display: flex;
}

.fav{
    display: flex;
    flex-wrap: wrap;
    padding:5%;
    margin:5%;
}

.botonrecom{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;

}

.extra {
    display: flex;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    flex-direction: column-reverse;
}

.reco {
    display: flex;
    flex-direction: row;
}
.reco div{
    display: flex;
    flex-direction: column;
}

/*Medidas telefonos*/

@media(max-width:420px){

 
    .navHeader{
        margin-left: 10px;
    }

   .top {

    width : 100%;
   }

   .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0%;
    margin-top: 1%;
   }

   .sectionheader {
    width: 100%;
   }

   .navbar{
    flex-direction: column;
    width: 65%;
   }
   .middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: row;
    }
   
    .pelicula-main{
    display: flex;
    flex-wrap: wrap;

     }

    .info{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    margin: 3%;
    }
    

    .poster{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
   
    .poster img{
    display: flex;
    flex-direction: row-reverse;
    width: 160px;
    height: 250px;
    }

   .peliculainfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
   }

   .avatar {
    display: flex;
    justify-content: center;
   }

   .bottom h1 {
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
   }

   .familiares {

    display: flex;
    flex-wrap: wrap;
    
   }

   .familiares img { 

    width: 160px;
    height: 250px;
   }
   .series{
   
    display: flex;
    flex-wrap: wrap;
    

   }

   .series img {

    width: 150px;
    height: 240px;

   }

   .series div {

    width: 45%;
   }
   .pelis {
    flex-wrap: wrap;
   }

   .generos div {

    width:55px;
    
   }

   .generosmain {
    height: 65vh;
   }

   .favorito-main {
    display: flex;
    flex-wrap: wrap;
   }
   .favorito-main img{
    
    width: 150px;
    height: 240px;

   }

   .favorito-main div {
    width: 45%;
   }

   .serie info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;

   } 
   .serie-main {
    display: flex;
    flex-direction: column;

   }

   .peli-genero {

    flex-wrap: wrap;
    padding: 0%;
    margin: 2%;
   }

   .peli-genero img{
    
    width: 150px;
    height: 240px;
   }
   .series-genero {

    flex-wrap: wrap;
    padding: 0%;
    margin: 2%;
   }

   .series-genero img{
    
    width: 150px;
    height: 240px;
   }
   .fav{
    display: flex;
    flex-wrap: wrap;
    padding:5%;
    margin:5%;
}

.botonrecom{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;

}
   

}

