
body {
    background-color: white;
    margin: 0px;
    font-family: 'Bebas Neue', sans-serif;
}
.top{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex start;
    background-color: #B9CEAD;
    height: 20vh;
}
.navegation{
    list-style:none;
    display: flex;
    justify-content: space-between;
   
}

.Nav {
    width: 80%;
    color:#3E3E36;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 20%;
    align-items: center;
    font-size: 28px;
}

.Nav a {
    text-decoration: none;
    color: #3E3E36 
}
.form{

    display: flex;
    align-items: center;
    margin-left: 25%;
    
}

.logo {

   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25%;
    margin-left: 5%
}

.logo img {

    width: 80px;
    height: 80px;
}

.navbar {

    display: flex;
    justify-content: center;
    align-items: center;  
}

.bottom {
    background-color:#B9CEAD;
    display: flex;
    justify-self: baseline;
    justify-content: center;
}
h1{
    color: #3E3E36;
    display: flex;
    align-items: center;
    justify-self: center;
}

.middle {
    display: flex;
    flex-direction: column;
    padding: 5%;

}

.familiares {
    display: flex;
}

.familiares div {

    margin-right: 3%;
}

.series div {
    margin-right: 3%
}
.series {
    display: flex;
}
.pelicula-main{
    display: flex;
}

.pelicula div {
    margin-right: 3%
}

.peliculainfo{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pelicula img{
    margin: 20%;
}

.pelicula h4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.serie-main {
    display: flex;
}

.serie{

    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.genero {

    background-color: #3e3e3663;
    max-width: 55px;
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: #3E3E36;
}
.favorito-main{
    display: flex;
    flex-direction: row;
    padding: 5%;
    justify-content: space-around;
}

.favorito-main img {
    height: 300px;
}

.favoritos h1 {

    margin-left: 5%;
}

.favoritos h3 {

    margin-left: 5%;
}

.generosmain {

    margin: 2%
}

.generosmain h3 {

    margin: 3%
}

.generos { 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.generos div {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.generos h4 {
    background-color: #3e3e3650;
    color:#3E3E36;
}

.peli-genero {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    justify-content: space-around;
}

.series-genero {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    justify-content: space-around;
}

.titulo-genero {

    margin-left: 4%;
}

/*Medidas telefonos*/

@media(max-width:420px){
    .navHeader{
        margin-left: 10px;
    }
    body{
        padding: 10px;
    }
   .top {

    width : 100%;
   }

   .logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   }

   .sectionheader {

    width: 100%;
   }

   .img {
    width: 100%;
   }

   .navbar{
    flex-direction: column;
    width: 65%;
   }
   .middle {
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: row;
    }
   
   .pelicula-main{
    display: flex;
    justify-content: center;
   }
   .peliculainfo{
    display: flex;
    justify-content: center;
    margin: 10%;
   }
}

