
body {
    background-color: white;
    margin: 0px;
    font-family: 'Bebas Neue', sans-serif;
}
.top{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #B9CEAD;
    height: 20vh;
    padding: 0%;
    justify-content: space-around;
}
   
.navegation{
    list-style:none;
    display: flex;
    justify-content: space-between;
   
}

.Nav {
    width: 80%;
    color: #3E3E36;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    margin-left: 15%;
    margin-right: 10%;
    align-items: center;
    font-size: 28px;
}

.Nav a {
    text-decoration: none;
    color: #3E3E36;
}
.form{
    margin-right: 5%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 20%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {

    width: 80px;
    height: 80px;
}

.navbar {

    display: flex;
    justify-content: center;
    align-items: center;  
}

.bottom {
    background-color: #B9CEAD;
    display: flex;
    justify-self: baseline;
    justify-content: center;
}
h1{
    color: #3E3E36;
    display: flex;
    align-items: center;
    justify-self: center;
}



.middle  {
  margin: 5%;
}


.masvisto {
    display: flex;
    justify-content: space-around;


}

.familiares {
    margin: 2.5%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    justify-content: space-around;

}

.series {
    display: flex;
    justify-content: space-around;

}

.middle h3 {
    display: flex;
    margin-left: 3%;

}


.pelicula {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
}
.peli img{
    
    height: 400px;
    width: 280px;
    margin-top: 5%;
}
.peliculas h5{
    display: flex;
    align-items: center;
    justify-content: center;
}
.peliculas p{
    display: flex;
    align-items: center;
    justify-content: center;

}

.serie-main {

    margin: 2%;
    display: flex;
    box-sizing: content-box;
    
 
}

.serie {

    margin: 5%;
    
}

.genero {

    background-color: #3e3e3663;
    width: 50px;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: #3E3E36;
}