
body {
    background-color: pink;
    margin: 0px;
}
.top{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    background-color: rgb(218, 101, 121);
    justify-content: space-evenly;
    height: 20vh;
}
.navegation{
    list-style:none;
    display: flex;
    justify-content: space-between;
   
}

.Nav {
    width: 80%;
    background-color: aliceblue;
    color:rgb(218, 101, 121);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    font-size: 28px;
}

.Nav a {
    text-decoration: none;
    color: rgb(218, 101, 121); ;
}
.form{

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {

   
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {

    width: 80px;
    height: 80px;
}

.navbar {

    display: flex;
    justify-content: center;
    align-items: center;  
}

.bottom {
    background-color:rgb(218, 101, 121);
    display: flex;
    justify-self: baseline;
    justify-content: center;
}
h1{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-self: center;
}

.middle p{
    font-size: 18px;
}
.pelicula {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: row;
}
.h5{
    display: flex;
    align-items: center;
    justify-content: center;
}
.p{
    display: flex;
    align-items: center;
    justify-content: center;

}